annotated-types==0.7.0
anyio==3.7.1
appdirs==1.4.4
argcomplete==3.1.4
attrs==23.2.0
Babel==2.10.3
bcc==0.29.1
bcrypt==3.2.2
beautifulsoup4==4.12.3
blinker==1.7.0
bottle==0.12.25
Brlapi==0.8.5
Brotli==1.1.0
cachetools==5.5.2
certifi==2023.11.17
chardet==5.2.0
click==8.1.6
cloud-init==24.4.1
colorama==0.4.6
command-not-found==0.3
configobj==5.0.8
contourpy==1.0.7
cryptography==41.0.7
cssselect==1.2.0
cupshelpers==1.0
cycler==0.11.0
dbus-python==1.3.2
decorator==5.1.1
defer==1.0.6
defusedxml==0.7.1
distro==1.9.0
distro-info==1.7+build1
docker==5.0.3
docutils==0.20.1
duplicity==2.1.4
fasteners==0.18
fonttools==4.46.0
fs==2.4.16
Glances==3.4.0.3
google-ai-generativelanguage==0.6.15
google-api-core==2.24.2
google-api-python-client==2.169.0
google-auth==2.39.0
google-auth-httplib2==0.2.0
google-generativeai==0.8.5
googleapis-common-protos==1.70.0
grpcio==1.71.0
grpcio-status==1.71.0
h11==0.16.0
html5lib==1.1
httpcore==1.0.9
httplib2==0.20.4
httpx==0.28.1
idna==3.6
importlib-metadata==4.12.0
influxdb==5.3.1
Jinja2==3.1.2
jsonpatch==1.32
jsonpointer==2.0
jsonschema==4.10.3
kiwisolver==0.0.0
language-selector==0.1
launchpadlib==1.11.0
lazr.restfulclient==0.14.6
lazr.uri==1.0.6
louis==3.29.0
lxml==5.2.1
lz4==4.0.2+dfsg
Mako==1.3.2.dev0
Markdown==3.5.2
markdown-it-py==3.0.0
Markups==4.0.0
MarkupSafe==2.1.5
matplotlib==3.6.3
mdurl==0.1.2
monotonic==1.6
more-itertools==10.2.0
mpmath==0.0.0
msgpack==1.0.3
netaddr==0.8.0
netifaces==0.11.0
numpy==1.26.4
oauthlib==3.2.2
olefile==0.46
openai==1.3.5
packaging==24.0
paramiko==2.12.0
pexpect==4.9.0
pillow==10.2.0
pipx==1.4.3
platformdirs==4.2.0
ply==3.11
proto-plus==1.26.1
protobuf==5.29.4
psutil==5.9.8
ptyprocess==0.7.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
PyAudio==0.2.14
pycairo==1.25.1
pycryptodomex==3.20.0
pycups==2.0.1
pydantic==2.11.3
pydantic_core==2.33.1
pydub==0.25.1
pyenchant==3.2.2
Pygments==2.17.2
PyGObject==3.48.2
PyJWT==2.7.0
PyNaCl==1.5.0
pyparsing==3.1.1
PyQt5==5.15.10
PyQt5-sip==12.13.0
PyQt6==6.6.1
PyQt6-sip==13.6.0
PyQt6-WebEngine==6.6.0
pyrsistent==0.20.0
pyserial==3.5
pysmi==0.3.4
pysnmp==4.4.12
pystache==0.6.0
python-apt==2.7.7+ubuntu4
python-dateutil==2.8.2
python-debian==0.1.49+ubuntu2
python-dotenv==1.1.0
python-markdown-math==0.8
pytz==2024.1
pyxdg==0.28
PyYAML==6.0.1
quickassist==0.1.0
regex==2022.10.31
requests==2.31.0
rich==13.7.1
roman==3.3
rsa==4.9.1
SciPy==1.11.4
screen-resolution-extra==0.0.0
setuptools==68.1.2
six==1.16.0
sniffio==1.3.1
soupsieve==2.5
SpeechRecognition==3.14.2
speedtest-cli==2.1.3
stdeb==0.10.0
sympy==1.12
systemd-python==235
terminator==2.1.3
textile==4.0.2
tksheet==7.5.1
tqdm==4.67.1
typing-inspection==0.4.0
typing_extensions==4.13.2
ubuntu-drivers-common==0.0.0
ubuntu-pro-client==8001
ufoLib2==0.16.0
ufw==0.36.2
ujson==5.9.0
unattended-upgrades==0.1
unicodedata2==15.1.0
uritemplate==4.1.1
urllib3==2.0.7
usb-creator==0.3.16
userpath==1.9.1
wadllib==1.3.6
webencodings==0.5.1
websocket-client==1.7.0
wheel==0.42.0
whisper==1.1.10
xdg==5
xkit==0.0.0
zipp==1.0.0
keyboard>=0.13.5
pyautogui>=0.9.54
screeninfo>=0.8.1
pynput>=1.7.6
